#titleMenu{
  padding-right: 0px;
  position: absolute;
}

.test{
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
}

.example-icon-right{
  margin: 0 2.75%;
}
a {
  text-decoration: none;
  color: inherit;
}

.menuSideNav{
  width: 100px;
  padding-left: 10px;
}

.transaction{
  transition: ease 1.2s;
}

mat-sidenav a{
  margin-top: -10px;
}

/* mat-sidenav-container{
  z-index: 2;
}

mat-sidenav-content{
 z-index: 2;
}*/

