<div class="vid-container">
  <!-- <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
      <source src="../../assets/computer.mp4" type="video/webm" >
  </video> -->
  <div class="inner-container">
    <video class="bgvid inner" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
      <source src="../../assets/videos/sea.mp4" type="video/mp4" >
    </video>
    <!-- <div class="boxTop">
      <h1>Push play and clouse your eyes</h1>
      <br>
      <img src="../../../../assets/icons/mute--v1.png" alt="" onclick="music()">
    </div> -->
    <app-login></app-login>
  </div>
</div>


