<div class="vid-container">
  <!-- <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
      <source src="../../assets/computer.mp4" type="video/webm" >
  </video> -->
  <div class="inner-container">
    <video class="bgvid inner" autoplay="autoplay" muted="muted" preload="auto" loop>
      <source src="../../assets/sea.mp4" type="video/mp4" >
    </video>
    <!-- <div class="boxTop">
      <h1>Push play and clouse your eyes</h1>
      <br>
      <img src="../../../../assets/icons/mute--v1.png" alt="" onclick="music()">
    </div> -->
    <div class="box">
      <div class="form">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
          <!-- Email -->
          <input type="text" placeholder="Email" formControlName="email"/>
          <!-- ! Email Validation Messages -->
          <div *ngIf="loginForm.get('email')?.invalid && (formSubmitted || loginForm.get('email')?.dirty)" class="errorTxt">
            Email required
          </div>
          <!-- Password -->
          <input type="password" placeholder="Password"  formControlName="password"/>
          <!-- ! Password Validation Messages -->
          <div *ngIf="loginForm.get('password')?.invalid && formSubmitted" class="errorTxt">
            Password required
          </div>
          <button type="submit">Login</button>
        </form>
        <p>Not a member? <span>Sign Up</span></p>
      </div>
    </div>
  </div>
</div>


