<div>
  <div>
    <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" #video>
      <!--Put your video in this route-->
      <!-- https://stackoverflow.com/questions/39180415/angular-2-change-videos-src-after-clicking-on-div-->
      <source [src]="videoUrl" type="video/mp4">
    </video>
    <!--
          https://www.pexels.com/video/a-woman-seated-on-the-beach-sand-enjoying-the-table-mountain-view-3327031/ sea
          https://www.pexels.com/video/slow-motion-footage-of-rain-falling-on-the-ground-4154268/ raining
          https://www.pexels.com/video/two-horses-playing-with-each-other-on-grass-field-5206817/ horses
          https://www.pexels.com/video/little-bird-perched-on-wood-4506942/ bird
          https://www.pexels.com/video/4928679/ cows

        -->
    <router-outlet></router-outlet>
  </div>
</div>
