/* SMALL SCREEN (max-width: 961px) */
@media screen and (max-width: 961px) {
  video {
    top: 0;
  }
}


video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  /* If you will take the menu side show this property */
  /* top: 0; */
  left: 0;
  position: 0% 50%;

}
