<div class="box">
  <div class="form">
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">

      <!-- Email -->
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput formControlName="email" required>
          <!-- ! Email Validation Messages -->
          <mat-error *ngIf="registerForm.get('email')?.invalid">
            <p *ngIf="registerForm.get('email')?.errors?.required">
              Email required
            </p>
            <p *ngIf="registerForm.get('email')?.errors?.pattern">
              Email not valid
            </p>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Password -->
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="showPassword ? 'password' : 'text'" formControlName="password" required>
          <span mat-icon-button matSuffix (click)="showPassword = !showPassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="showPassword">
            <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
          <!-- ! Password Validation Messages -->
          <mat-error *ngIf="registerForm.get('password')?.invalid">
            <p *ngIf="registerForm.get('password')?.errors?.required">
              Password required
            </p>
            <p *ngIf="registerForm.get('password')?.errors?.minlength">
              Password min length 6 caracters
            </p>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Repeat Password -->
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="showPassword ? 'password' : 'text'" formControlName="password" required>
          <span mat-icon-button matSuffix (click)="showPassword = !showPassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="showPassword">
            <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
          <!-- ! Password Validation Messages -->
          <mat-error *ngIf="registerForm.get('password')?.invalid">
            <p *ngIf="registerForm.get('password')?.errors?.required">
              Password required
            </p>
            <p *ngIf="registerForm.get('password')?.errors?.minlength">
              Password min length 6 caracters
            </p>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Submit Button -->
      <button mat-flat-button type="submit">Register</button>
    </form>
  </div>
</div>

