<div class="box">
  <div class="form">
    <!-- Button Left -->
    <div>
        <mat-icon id="keyboard_left" [style.visibility]="this.videoService.disableBtnLeft() ? 'visible' : 'hidden'" (click)="leftArrow()">keyboard_arrow_left</mat-icon>
    </div>

    <!-- Music Player -->
    <div>
      <button mat-fab class="btn" (click)="changeIconPlay()">
        <span class="material-icons">
          {{playOrStopIcon}}
        </span>
      </button>
      <div>
        <span class="material-icons material-icons2" (click)="changeIconVolume()">
          {{iconVolume}}
        </span>
        <audio #audioElement>
          <!-- https://www.zapsplat.com/sound-effect-category/ocean/ -->
          Your browser does not support the audio element.
        </audio>
        <br>
        <p>{{thumbLabel}}</p>
        <mat-slider class="max average" min="0" max="100" value="100" (change)="onSliderChange($event)"></mat-slider>
      </div>
    </div>

    <!-- Button Right -->
    <div>
      <!-- <mat-icon id="keyboard_right" *ngIf="this.videoService.disableBtnRight()" (click)="rightArrow()">keyboard_arrow_right</mat-icon> -->
      <mat-icon id="keyboard_right" [style.visibility]="this.videoService.disableBtnRight() ? 'visible' : 'hidden'" (click)="rightArrow()">keyboard_arrow_right</mat-icon>
    </div>
  </div>
</div>
