/* SMALL SCREEN (max-width: 961px) and (min-width: 767px)*   →  (Mobile)*/
@media screen and (max-width: 961px) {
  .box {
    position: absolute;
  }

  mat-sitenav {
    visibility: none;
  }


  h2 {
    font-size: 1.5rem;
  }

  .form {
    font-size: 1.85rem;
    line-height: 1.35;
    /* background: aliceblue; */
    padding: 0.5rem 1rem;
    font-weight: bold;
    width: 250px;
  }
}

/* OTHERS SCREENS (min-width: 767px)*   →  (Ipad, Computer)*/
@media screen and (min-width: 962px) {
  .box {
    position: fixed;
  }

  h1 {
    font-size: 3rem;
    margin: 10px 0 0 0;
    line-height: normal;
  }

  h2 {
    font-size: 2rem;
    margin: -12px 0 10px 0;
  }

  .form {
    font-size: 1.85rem;
    line-height: 1.35;
    /* background: aliceblue; */
    padding: 0.5rem 1rem;
    font-weight: bold;
  }
}

.box {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: Helvetica;
  color: #000000;
  padding: 0px;
  justify-content: center;
}

/* .mat-stroked-button {
  background-color: #fafafa;
  border: 1px solid rgb(109, 106, 106);
  font-size: large;
  margin: 12.5px 0;
} */

.form{
  border-radius: 5px;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
  padding: 20px 20px 0 20px;
  opacity: 0.89;
  /* background-color: lightblue; */
  backdrop-filter: blur(30px) opacity(0.89); /* Effect transparency */
  border: 1px solid black;
}

.btn{
  background-color: white;
}

.material-icons{
  color: black;
  font-size: 48px;
  margin-top: -12px;
}

.material-icons2{
  font-size: 24px;
  margin-top: 10px;
  padding-right: 5px;
}


/* mat-slider */
:host ::ng-deep .max .mat-slider-track-fill {
  background-color: black;
}
:host ::ng-deep .average .mat-slider-thumb {
  background-color: black;
}

#keyboard_left{
  left: -20px;
  position: relative;
  top: 15px;
}

#keyboard_right{
  /* left: -20px; */
  position: relative;
  top: 15px;
}

p{
  font-size: 10px;
  margin-bottom: -15px;
}
