/* SMALL SCREEN (max-width: 961px) and (min-width: 767px)*   →  (Ipad)*/
@media screen and (max-width: 961px) {
  .box{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    font-family: Helvetica;
    color: #fff;
    padding: 0px;
    justify-content: center;
  }
}

/* SMALL SCREEN (max-width: 961px) and (min-width: 767px)*   →  (Ipad)*/
@media screen and (min-width: 962px) {
  .box {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    font-family: Helvetica;
    color: #fff;
    /* background:rgba(0,0,0,0.13); */
    padding: 30px 0px;
    justify-content: center;
  }
}

.errorTxt {
  color: red;
  text-align: center;
}

/* .boxTop {
  position: absolute;
  display: flex;
  font-family: Helvetica;
  color: #fff;
  justify-content: center;
  width: 100%;
} */

.box h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 30px;
}
.box input {
  display: block;
  max-width: 150px;
  margin: 20px auto 10px auto;
  padding: 15px;
  background: white;
  color: black;
  border: 0;
}

.box input:focus,
.box input:active,
.box button:focus,
.box button:active {
  border: 1px solid black;
}
.box button {
  background: #2ecc71;
  border: 0;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  width: 180px;
}

.box button:active {
  background: #27ae60;
}

.box p {
  font-size: 14px;
  text-align: center;
}
.box p span {
  cursor: pointer;
  color: blue;
}

.box .form {
  background-color: dimgray;
  opacity: 0.89;
  /* width: 20%; */
  min-width: 250px;
  align-self: center;
  border: 5px solid white;
  border-radius: 5px;
}

.center {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
}

#facebook:hover {
  content: url("../../../../../assets/icons/facebook2.png");
}

#twitter:hover {
  content: url("../../../../../assets/icons/twitter2.png");
}

#github:hover {
  content: url("../../../../../assets/icons/github2.png");
}

#google:hover {
  content: url("../../../../../assets/icons/google2.png");
}
