<div class="box">
  <div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">

      <!-- Email -->
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input matInput formControlName="email" required>
          <!-- ! Email Validation Messages -->
          <mat-error *ngIf="loginForm.get('email')?.invalid">
            <p *ngIf="loginForm.get('email')?.errors?.required">
              Email required
            </p>
            <p *ngIf="loginForm.get('email')?.errors?.pattern">
              Email not valid
            </p>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Password -->
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="showPassword ? 'password' : 'text'" formControlName="password" required>
          <span mat-icon-button matSuffix (click)="showPassword = !showPassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="showPassword">
            <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
          <!-- ! Password Validation Messages -->
          <mat-error *ngIf="loginForm.get('password')?.invalid">
            <p *ngIf="loginForm.get('password')?.errors?.required">
              Password required
            </p>
            <p *ngIf="loginForm.get('password')?.errors?.minlength">
              Password min length 6 caracters
            </p>
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button type="submit">Login</button>
      <!-- TODO: Conect started sesión with acounts Firebase this icons -->
      <div class="center">
        <!-- Facebook Icon -->
        <img [src]="icons.facebook.url" (mouseover)="icons.facebook.url = icons.facebook.hoverUrl"
        (mouseout)="icons.facebook.url = icons.facebook.defaultUrl" (click)="authService.onLoginWithFacebook()">
        <!-- GitHub Icon -->
        <img [src]="icons.github.url" (mouseover)="icons.github.url = icons.github.hoverUrl"
        (mouseout)="icons.github.url = icons.github.defaultUrl" (click)="authService.onLoginWithGitHub()">
        <!-- Twitter Icon -->
        <img [src]="icons.google.url" (mouseover)="icons.google.url = icons.google.hoverUrl"
        (mouseout)="icons.google.url = icons.google.defaultUrl" (click)="authService.onLoginWithGoogle()">
      </div>
    </form>
    <p>Not a member? <a [routerLink] = "['/register']">Sign Up</a></p>
  </div>
</div>
